node_modules
backend/node_modules
frontend/node_modules
frontend/public
frontend/coverage
frontend/coverage-unit
frontend/coverage-browser
frontend/coverage-merged
frontend/dist
.npm-cache
backend/dist
backend/coverage
backend/coverage-backend
backend/tests/unit-be
backend/tests/integration-be
backend/tests/e2e
.git
.env
.env.*
backend/.npmrc
*.md
.claude
